.main_banner {
    width: 100%;
    height: 100%;
    height: 1000px;
    background-image: url("../../assets/banner/banner06.png");
    background-position: center;
}

.best_product {
    height: 1073px;
    background-image: url("../../assets/banner/banner05.png");
    object-fit: contain;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.best_product_title {
    width: 463px;
    height: 37px;
    color: var(--bright-orange);
    font-size: 3.125rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
}

.product-box-title {
    width: 190px;
}

.best_product_description {
    margin: 0 auto;
    margin-top: 50px;
    width: 665px;
    height: 52px;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: var(--bright-orange);
}

.list-card {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 74px;
}

.list-product {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 74px;
    gap: 1.4rem;
    justify-content: center;
}

.btn-see-more {
    width: 199px;
    height: 60px;
    border: solid 3px var(--dark-maroon);
    font-size: 1.4375rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: var(--black-three);
    background-color: transparent;
}

.see-more {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 143px;
}

.introduction {
    height: 576px;
    object-fit: contain;
    background-image: url("../../assets/banner/banner03.png");
}

.introduction-title {
    font-size: 3.125rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: left;
    color: var(--white);
    display: block;
    margin: 0 auto;
    margin-left: 173px;
    padding-top: 174px;
    text-transform: uppercase;
    font-weight: 800;
}

.introduction-description {
    width: 667px;
    margin-top: 60px;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    display: block;
    margin-left: 173px;
}

.brand-story {
    background-image: url("../../assets/banner/banner04.png");
    padding-top: 150px;
    padding-bottom: 12rem;
}

.brand-story-title {
    font-family: Montserrat;
    font-size: 2.8125rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 4.5px;
    text-align: left;
    color: var(--sun-yellow);
    text-align: center;
}

.brand-story-description {
    width: 682px;
    font-family: NotoSansCJKkr;
    font-size: 1rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: var(--sun-yellow);
    margin: 0 auto;
}

.brand-story-box {
    width: 70%;
    margin: 0 auto;
    background-color: var(--white);
    border: solid 3px var(--black-two);
    margin-top: 50px;
}

.brand-story-box-head {
    margin: 0 auto;
    height: 24px;
    background-color: var(--black-two);
    padding-top: 1px;
}

.brand-story-box-head>hr {
    width: 1235px;
    border: 1px solid var(--cerulean);
}

.brand-story-box-content {
    display: flex;
}

.brand-story-box-content-left {
    width: 50%;
    height: 418px;
    background-image: url("../../assets/banner/banner07.png");
    background-size: cover;
    background-position: center;
}

.brand-story-box-content-right {
    width: 50%;
    padding: 0px 45px;
}

.brand-story-box-content-right-title {
    font-family: Montserrat;
    font-size: 1.5625rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-three);
    text-transform: uppercase;
}

.brand-story-box-content-right-description {
    font-family: NotoSansCJKkr;
    font-size: 1rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-three);
}

.happened-issue {
    height: 1100px;
    padding-top: 158px;
    background-image: url("../../assets/banner/banner01.png");
}

.happened-issue-title {
    margin: 0;
    font-size: 2.8125rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 4.5px;
    text-align: left;
    color: var(--dark-brown);
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.happened-issue-description {
    width: 720px;
    font-size: 1rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    margin: 0 auto;
    color: var(--dark-brown);
}

.happened-issue-brand {
    display: flex;
}

.happened-issue-card {
    flex: 1;
    width: 387px;
    height: 480px;
    border: solid 3px var(--black-two);
    border-right: 0px;
}

.bg-bright-orange {
    background-color: var(--bright-orange-two);
}

.whpn-issue {
    width: 189px;
    margin: 0 0 63px;
    font-family: Montserrat;
    font-size: 3.4375rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-brown);
    text-transform: uppercase;
    margin: auto;
    margin-top: 90px;
}

.whpn-issue-img {
    margin: 0 auto;
}

.whpn-issue-img-content {
    text-align: center;
    margin-top: 70px;
}

.what-happened {
    height: 1710px;
    background-image: url("../../assets/banner/banner02.png");
    background-size: cover;
}

.mt-148 {
    margin-top: 148px;
}

@media only screen and (max-width: 376px) {
     :root {
        font-size: 10px;
    }
    .best_product,
    .what-happened,
    .happened-issue,
    .introduction,
    .brand-story {
        display: none;
    }
    .list-product {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }
    .main_banner {
        height: 300px !important;
    }
    .see-more {
        margin: 40px;
    }
}

@media only screen and (max-width: 1280px) {
     :root {
        font-size: 14px;
    }
    .main_banner {
        height: 800px;
        background-size: cover;
    }
    .best_product {
        height: 900px;
        background-size: cover;
    }
    .what-happened {
        height: 900px;
        background-size: cover;
    }
    .brand-story {
        height: 900px;
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (max-width: 768px) {
     :root {
        font-size: 12px;
    }
    .main_banner {
        height: 600px;
        background-size: cover;
    }
    .best_product {
        height: 760px;
        background-size: cover;
        background-position-y: 820px;
    }
    .best_product_title {
        margin-top: 100px;
    }
    .brand-story-box-content-left {
        display: none;
    }
    .brand-story-box-content-right {
        width: 100%;
        padding-bottom: 3rem;
    }
    .what-happened {
        height: 600px;
        background-size: cover;
        background-position-y: 80px;
    }
    .happened-issue-description {
        width: 60%;
    }
    .brand-story {
        height: 600px;
        background-size: cover;
        background-position: center;
    }
    .introduction-description {
        width: 60%;
    }
}