.card-best-product {
    position: relative;
    width: 100%;
    flex: 1
}

.card-best-product>img {
    width: 100%;
    object-fit: cover;
}

.card-best-product_bg {
    width: 92px;
    height: 92px;
    background-image: url("../../../assets/icon/producticon-01.png");
    object-fit: contain;
    padding: 2px;
    position: absolute;
    top: -45px;
}

.product-box {
    width: 75%;
    border: solid 3px #020001;
    background-color: #fff;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem
}

.product-box-title {
    width: 80%;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    margin-left: 1rem;
}

.product-box-btn {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    object-fit: cover;
}