@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
:root {
    --black-two: #111111;
    /* var(--black-two) */
    --white: #ffffff;
    /* var(--white) */
    --pinkish-grey-two: #ccc8c6;
    --white-three: #f4f4f4;
    --bright-orange: #f96400;
    --dark-maroon: #020001;
    --black-three: #222222;
    /* var(--black-three) */
    --sun-yellow: #fcd32a;
    --cerulean: #0565bb
    /* var(--cerulean) */
    --dark-brow: #110e03
    /* var(--dark-brown) */
    --bright-orange-two: #ff5500
    /* var(--bright-orange-two) */
}

* {
    font-family: 'Montserrat', 'Noto Sans', sans-serif;
}

body {
    margin: 0;
    width: 100%;
}